https://w9f.de {
  gzip
  proxy / localhost:5000
  log stdout

  ratelimit /url 5 6 minute

  header / {
    X-Why-Are-You-Reading-This "¯\_(ツ)_/¯"
    Strict-Transport-Security "max-age=31536000;"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    -Server
  }
}
