{% extends "base.html" %}

{% block content %}

    <table class="u-full-width">
      <thead>
        <tr>
          <th>Code</th>
          <th>URL</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
{% for url in urls %}
        <tr>
          <td><a href="/{{ url[1] }}>{{ url[1] }}</a></td>
          <td><a href="{{ url[2] }}">{{ url[2] }}</a></td>
          <td>{{ url[0] }}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>

    <script>var csrf_token = '{{ csrf_token() }}';</script>
    <script type=text/javascript src="{{ url_for('static', filename='js/custom.js') }}"></script>
{% endblock %}
