<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>w9f.de - URL shortener</title>
  <meta name="description" content="Get a short version of an URL with auto-preview image and now auto forwarding.">
  <meta name="author" content="@computerfoo">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}" type="text/css">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/fonts.css') }}">
</head>
<body>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
