<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  </head>
  <body>
    <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-content">
        <div class="modal-header">
          <h1>Processing...</h1>
          <p>This might take a couple of seconds.</p>
        </div>
        <div class="modal-body">
          <div class="progress">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock %}

      <script type=text/javascript src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
      <script type=text/javascript src="{{ url_for('static', filename='custom.js') }}"></script>
    </div>
  </body>
</html>
