{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h4>Hi</h4>
        <p>The link you requested is a short link which points to a (usually) very long URL.</p>
      </div>
      <div class="twelve columns">
        <h5>Information about the requested link:</h5>
        <p>ID: <a href="{{ data['id'] }}">{{ data['id'] }}</a><br />
        Created: <span title="{{ data['timestamp'] }}">{{ user_friendly_date }}</span><br />
        Destination: <a href="{{ data['url'] }}">{{ data['url'] }}</a></p>
      </div>
      <div class="twelve columns">
        <h5>Preview image:</h5>
        <img src="/{{ data['id'] }}/img" style="display: block; margin: auto;" />
      </div>
    </div>

    <div class="corner-ribbon top-right sticky blue"><a href="/" style="text-decoration: none; color: inherit;">Create new link</a></div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ribbon.css') }}" type="text/css">
{% endblock %}
