{% extends "base.html" %}

{% block title %}Webshot{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>{{ greeting }} <small>{{ greeting_small }}</small></h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="https://www.google.com" id="input_url">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="screenshot">Screenshot!</button>
            </span>
          </div>
        </div>
      </div>
      <br>
      <div class="alert alert-info hidden" role="alert" id="invalid_url">This does not look like a valid URL. :(</div>
      <div class="alert alert-info hidden" role="alert" id="unreachable_url">Sadly I cannot reach that URL. :(</div>
      <br>
      <div class="row">
        <div class="col-xs-6 col-md-6">
        </div>
        <div class="col-xs-6 col-md-6 hidden" id="image_div">
          <a href="" class="thumbnail">
            <img src="" id="image_content" class="img-thumbnail img-responsive">
          </a>
        </div>
      </div>
{% endblock %}
