{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>URL shortener with a preview and no automatic forwarding</h4>
        <p>Give it an URL and you'll receive a short link pointing to your URL. When you click the short link, you'll get an overview of the target and won't be auto forwarded.</p>
      </div>
      <div class="one-half column" style="margin-top: 30%">
        <form>
          <div class="row">
            <div class="twelve columns">
              <label for="urlInput" id="urlInputLabel">Your URL</label>
              <input class="u-full-width" type="text" placeholder="https://myspace.com/cat-pics.aspx?res=grande-mobile" id="urlInput" autofocus>
            </div>
          </div>
          <button class="button-primary" id="urlButton" type="button">Submit</button>
        </form>
      </div>
    </div>
{% endblock %}
